h1{
    font-size: 2em;
    text-align: center;
}
#app{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.button{
    width: 150px;
    height: 150px;
    display: inline-block;
    opacity: 0.55;
    cursor: pointer;
}
.button:hover{
    box-shadow: 0 0 10 #6c58b5;
    box-shadow: inset 0 0 0 4px #6c58b5;
    box-sizing: border-box;
}
.button:active{
    opacity: 1;
}
.active{
    opacity: 1;
}
.top-left-button{
    border-top-left-radius: 150px;
    background-color: #78BCFF;
}
.top-right-button{
    border-top-right-radius: 150px;
    background-color: #FF9A8E;
}
.bottom-left-button{
    border-bottom-left-radius: 150px;
    background-color: #FEF585;
}
.bottom-rigth-button{
    border-bottom-right-radius: 150px;
    background-color: #89ee91;
}
.game-control-panel, .game-options{
    width: 10%;
    margin: 0 3%;
}
.game-control-panel button{
    width: 8em;
    font-size: 1.3em;
    border: 2px solid #6c58b5;
    background-color: #fff;
    color: #6c58b5;
    padding: 2% 10%;
}
.game-options div{
    margin-bottom: 5%;
}
.game-over{
    font-size: 1.3em;
    color: #FF9A8E;
}
a{
    display: block;
    width: 150px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #6c58b5;
    background-color: #fff;
    color: #6c58b5;
    padding: 2% 10%;
    font-size: 1.3em;
}